:root {
  --verde: #5ca720;
  --marrom:#6e4b32;
  --preto: #161616;
  --cinza: #a5a0a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--preto);
}

/* Estilização header */
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  height: 10vh;
}

.header-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.text-logo {
    font-size: 22px;
}

.list-links {
    width: 200px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.list-links img {
    width: 25px;
} 

/* Estilização Main */
main {
    border-bottom: 1px solid var(--cinza);
}

.img-banner {
    width: 100%;
}


/* Estilização Section promotion */
.container__promotion {
   border-bottom: 1px solid #a5a0a0;
   width: 100%;
   padding: 1em;
}

.box-promotion {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 91%;
}

.title-promotion {
    text-transform: uppercase;
}

.text-promotion {
    font-size: 20px;
    font-weight: normal;
}

/* Estilização Card */
.container__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 90vw;
    margin: 0 auto;
    padding: 1em;
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.ProdutoFigure {
    width: 350px;
}

.card__description img {
    width: 100%;
}

.card-title, .text-card-description, .card-link {
    margin-left: 10px;
}

.card-title {
    font-size: 18px;
}

.card-span {
    font-size: 18px;
    color: var(--verde);
    border-bottom: 1px solid var(--verde);
}

.card-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: var(--verde);
    width: fit-content;
    padding: .4em 1.2em;
    border-radius: 16px;
    letter-spacing: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-link:hover {
    background-color: var(--marrom);
}



/* Estilização footer */

.container-01, .container-02 {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box01 {
    width: 100%;
    border-bottom: 1px solid var(--cinza);
}

.text-rodape, .container-input {
    margin: 8px 0;
}

.container-input {
    display: flex;
    justify-content: center;
}

input {
    width: 300px;
    font-size: 18px;
    padding: .5em;
    outline: none; 
    border: 1px solid var(--cinza);  
}

input::placeholder {
    color: var(--cinza);
}

.link-input {
    text-decoration: none;
    color: white;
    background-color: var(--verde);
    padding: .5em;
    font-size: 18px;
    width: 120px;
    text-align: center;
}

.box-vector {
    display: flex;
    align-items: center;
    gap: 20px;
}

.vector-footer {
    width: 40px;
}


/* Responsividade */

@media only screen and (max-width: 1280px) {
    .container__cards {
        gap: 20px;
    }

    .ProdutoFigure {
        width: 300px;
    }
}

@media only screen and (max-width: 850px){
    /* body {
        background-color: #bab8b8;
    } */

    .list-links img {
        width: 20px;
    }

    .ProdutoFigure {
        width: 320px;
    }

    .container-01 {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding-left: 20px;
    }

    .container-input {
      flex-direction: column;
    }

    .link-input {
        margin-top: 5px;
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .container__cards {
        gap: 8px;
    }

}

@media only screen and (max-width: 465px) {
    /* body {
        background-color: #a5a0a0;
    } */

    .list-links {
        width: 150px;
        gap: 20px;
    }

    .container__cards {
        flex-direction: column;
        margin: 0;
    }
    
    .card__description {
        box-sizing: border-box;
        padding: 1em 0;
    }
    
    .container-02 {
        padding: 0 20px;
    }

    .vector-footer {
       width: 30px;
    }
}

@media only screen and (max-width: 320px) {
    
}